<!DOCTYPE html>
<html>
<head>



  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>
<body style="width: 100%;">
<div class="content" style="background-color: white !important;">
  <div class="etudiant" style="display: flex;width: 100%;">
    <div style="width: 20%;margin-left: 3%; margin-top:1%">
      <img  src="../../assets/images/logo.png" style="height: 100%;width:100%">
    </div>
    <div style="margin-left: 5%;
    width: 60%;
    margin-top: 1%;">
      <span><h4 style="font-family: serif;">Platform de gestion des demandes des employés</h4></span>
    </div>
    <!--
    <div style="width: 25%;text-align: center;font-family: sans-serif; padding-top: 1%">
      <span  style="width: 100%; color:gray;display: block;"><h6>{{ currentDate | date: 'full' : '': 'fr'}}</h6></span>
    </div>
    -->
    <div style="width: 30%;text-align: center;font-family: sans-serif;padding-top: 0.5%;">
      <span  style="display: block;" href="#">Rim Jlassi</span>
      <span  style="display: block;" href="#">Responsable RH</span>
    </div>
    <div style="width:10%;">
      <button class="pi pi-power-off" style="width:100%;height: 100%;
    width: 104%;
    border: none;
    background: white;" title="Déconnecter"></button>
    </div>
  </div>



</div>
</body>
</html>
