<div class="card">
  <p-table #dt [value]="conges" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
           [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]" [loading]="loading"
           [paginator]="true" currentPageReportTemplate="Visualiser de {first} à {last} pour {totalRecords} congés"
           [filterDelay]="0" [globalFilterFields]="['nom','pernom','matricule','email','creationDate','status']">
    <ng-template pTemplate="caption" >
      <div style="display: flex; width: 100%">
        <div class="p-d-flex p-ai-center p-jc-between" style="width: 60%">
        <span class="p-input-icon-left" style="width: 100%">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" style="margin-left: 5%; width: 93%;"(input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Chercher un utilisateur par nom, prénom, matricule, email ou date de création" />
                </span>
        </div>
        <!--
        <div style="width:8%; margin-left: 32%">
          <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
        </div>
        -->
      </div>

    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="employe">Employé</th>
        <th pSortableColumn="demandeCongeType">Type </th>
<!--
        <th pSortableColumn="motif">Motif </th>
-->
        <th pSortableColumn="dateDeb" style="width: 150px">Date de début </th>
        <th pSortableColumn="dateFin"  style="width: 150px">Date de fin </th>
        <th pSortableColumn="nbrJrs"  style="width: 100px">Nombre des jours </th>
        <th pSortableColumn="remplacant" style="width: 130px">Remplaçant</th>
        <th pSortableColumn="tacheDele"style="width: 230px">Taches à faire</th>
        <th pSortableColumn="dateDem"  style="width: 150px">Date de création</th>
        <th pSortableColumn="status">Statut</th>
        <th style="width: 10rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-conge>
      <tr class="p-selectable-row">
        <td>
          {{conge.employe}}
        </td>
        <td>
          {{conge.demandeCongeType}}
        </td>
<!--
        <td>
          {{conge.motif}}
        </td>
-->
        <td>
          {{conge.dateDeb}}
        </td>
        <td>
          {{conge.dateFin}}
        </td>
        <td>
          {{conge.nbrJrs}}
        </td>
        <td>
          {{conge.remplacant}}
        </td>
        <td>
          {{conge.tacheDele}}
        </td>
        <td>
          {{conge.dateDem}}
        </td>

        <td>
          <span *ngIf="conge.status === 'VALIDATED'" class="customer-badge status-active">Validé</span>
          <span *ngIf="conge.status === 'REFUSED'" class="customer-badge status-blocked">Refusé</span>
          <span *ngIf="conge.status === 'IN_PROGRESS'" class="customer-badge status-progress">En cours</span>
        </td>
        <td>
          <div style="display: flex;">
            <button pButton  [disabled]="conge.status !== 'IN_PROGRESS'" pRipple icon="pi pi-check" class="p-button-rounded p-button-success p-mr-2" style="margin-right: 7px;" (click)="1"></button>
            <button pButton  [disabled]="conge.status !== 'IN_PROGRESS'" pRipple icon="pi pi-times" class="p-button-rounded p-button-danger" (click)="1"></button>
          </div>

        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">Aucun congé trouvé.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
